@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  :root {
    --color-gray-50: #f9fafb;
    --color-gray-900: #111827;
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 min-h-screen dark:bg-gray-900 dark:text-white;
  }
}
